hr.solid {
  border-top: 0.05px solid #103948;
  width: 90%;
  }
      
.contentbox {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  }
@media only screen and (min-width: 768px) {
  .contentbox {
  	margin-bottom: 1.25em;
  	}
  }
@media only screen and (max-width: 767px) {
  .contentbox {
  	margin-bottom: 0.7em;
  	}
  }
      
.maintitle {
  width: 80%;
  text-align: center;
  }

.maintitle h2 {
  color: #103948;
  letter-spacing: 0.07em;
  font-size: 1.5em;
  font-weight: 900;
  line-height: 1.35;
  }
      
.maintitle p {
  color: #103948;
  font-weight: regular;
  line-height: 1.25;
  font-size: 1em;
  letter-spacing: normal;
  }
  
hr.solid2 {
  border-top: 0.05px solid #103948 !important;
  width: 90% !important;
  margin-top: 2.24em !important;
  }

.moneybackguarantee {
  display: flex !important;
  width: 100% !important;
  justify-content: center !important;
  align-items: center !important;
  margin-top: 1em !important;
  }

.moneybackguarantee-content {
  width: 80% !important;
  text-align: left !important;
  }

.moneybackguarantee-content p {
  color: #103948 !important;
  font-weight: regular !important;
  line-height: 1.25 !important;
  font-size: 1em !important;
  letter-spacing: normal !important;
  }
  
.moneybackguarantee-content a {
  color: blue !important;
  font-weight: regular !important;
  line-height: 1.25 !important;
  font-size: 1em !important;
  letter-spacing: normal !important;
  text-decoration: none !important;
  font-style: italic !important;
  }
  
.moneybackguarantee-content img {
  width: 20% !important;
  margin: 5% 3% !important;
  }

.contact-icons-column {
  display: flex !important;
  position: relative !important;
  width: 100% !important;
  align-items: center !important;
  justify-content: center !important;
  }
  
.contact-icons-column img {
  width: 4.5em !important;
  height: 4.5em !important;
  margin: 1em 1em !important;
  }
